<html> <head>
<title>LegoERP</title>

<script type="text/javascript" src="/media/jquery-ui/development-bundle/jquery-1.5.1.js"></script>
<script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/media/jquery-ui/development-bundle/ui/jquery.ui.button.js"></script>
<script src="/media/gitorious.js?1303809124" type="text/javascript"></script>

<link type="text/css" href="/media/jquery-ui/development-bundle/themes/ui-lightness/jquery.ui.all.css" rel="stylesheet" />
<link href="/media/css/gitorious.css?1303809124" media="screen" rel="stylesheet" type="text/css" />

{% load filters %}

</head>

<body id="site">
  <div id="wrapper">
    <ul id="user-nav">  
      <li class="secondary"><a href="/~vienin">~vienin</a></li>
      <li class="secondary messages "><a href="/messages"><span>0</span></a></li>
      <li class="secondary subtle"><a href="/logout">Logout</a></li>
    </ul>

    <div id="header">
      <h1 id="logo">
        <a href="/"><img alt="Logo" src="/media/logo.png" /></a>
      </h1>
    </div>

    <div id="top-bar">
      <ul id="breadcrumbs">
      	<li class="project"><a href="/">LegoERP</a></li>
        <li class="tree"><a href="/perspective/{{ perspective.id }}">{{ perspective }}</a></li>
		<li class="repository"><a href="/datatype/{{ perspective.id }}/{{ content.id }}">{{ content.id }}</a></li>
	  </ul> 
      <div id="searchbox">

        <div class="search_bar">
          <form action="https://gitorious.org/search" method="get"><p>
            <input class="text search-field round-5" id="q" name="q" type="text" /> 
            <input type="submit" value="Search" class="search-submit round-5" />
            </p>
          </form>
        </div>
      </div>
    </div>

    <div id="container" class="">
      <div id="content" class="with_sidebar">  
	    <h1>{{ datatype }}: {{ content.id }}</h1>

		{% if operation %}
          {% if form.errors %}
		  <div class="errorExplanation" id="errorExplanation">
		    <h2>{{ form.errors|length}} errors prohibited this operation from being processed</h2>
		    <p>There were problems with the following fields:</p>
		    <ul>
		      {% for field in form %}
			    {% for e in field.errors %}
		  	    <li>'{{ field.label_tag }}', {{ e }}</li>
			    {% endfor %}
			  {% endfor %}
		    </ul>
		  </div>
		  {% endif %}

		{% endif %}
		  <form action="/datatype/{{ perspective.id }}/{{ content.id }}/{{ operation.id }}/" class="new_project" id="new_project" method="post">
          <ul class="form"> 
            <fieldset>
	          {% for field in form %}
	          <li>
		        {% if field.errors %}<div class="fieldWithErrors">{% endif %}
			      {{ field.label_tag }}
		        {% if field.errors %}</div>{% endif %}
			    <div>
		        {% if field.errors %}<div class="fieldWithErrors">{% endif %}
			      {% if operation %} {{ field }} {% else %} {{ content|hash:field.name }} {% endif %}
			    {% if field.errors %}</div>{% endif %}
			    </div>
		      </li>
	          {% endfor %}
            </fieldset>
          </ul>

		{% if operation %}
		  <fieldset class="submit"> 
            <input id="project_submit" name="commit" type="submit" value="Valider" />
          </fieldset> 
		{% endif %}
        </form>
      </div>

      <div id="sidebar"> 
 	    <ul class="links navigation">
         {% for operation in perspective.operations %}
		 {% if not operation.at_list_level %}
         <li class="{{ operation.css_class }}"><a href="/datatype/{{ perspective.id }}/{{ content.id }}/{{ operation.id }}/">{{ operation }}</a></li>
	     {% endif %}
		 {% endfor %}
        </ul>
      </div>
    </div>

    <div id="footer">
      <div id="footer-links">
        <h3>LegoERP</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About LegoERP</a></li>
          <li><a href="/about/faq">FAQ</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul>
          <li><a href="http://groups.google.com/group/gitorious">Discussion group</a></li>
          <li><a href="http://blog.gitorious.org">Blog</a></li>
        </ul>
        <ul>
          <li><a href="http://en.gitorious.org/tos">Terms of Service</a></li>
          <li><a href="http://en.gitorious.org/privacy_policy">Privacy Policy</a></li>
        </ul>   
      </div>
      <div class="clear"></div>
    </div>
  </div>

</body>
</html>
